--extra-index-url https://download.pytorch.org/whl/cpu
Flask==2.3.2
numpy==1.24.4
opencv-python-headless==4.7.0.72
matplotlib==3.7.1
seaborn==0.12.2
scikit-learn==1.2.2
pytesseract==0.3.10
python-dotenv==1.0.0
yt-dlp==2023.7.6
moviepy==1.0.3
joblib==1.2.0
setuptools==65.5.1
wheel==0.40.0
build-essential
tesseract-ocr
ffmpeg
